ul.qtrans_language_chooser {
    display:    block;
    list-style: none outside none;
    padding:    13px;
}
ul.qtrans_language_chooser li {
    float:      left;
    display:    block;
    list-style: none outside none;
    margin:     3px;
}

body.wordpress2use_page_cloud2use div.row {
    clear: both;
}

body.wordpress2use_page_cloud2use div.col-md-4 {
    float: left;
    display: block;
    margin: 10px;
    padding: 0px;
    width: 240px;
}

